
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-bankam.html">
<link rel="lazy-import" href="my-view1-login.html">
<link rel="lazy-import" href="my-view2-cuenta.html">
<link rel="lazy-import" href="my-view3-movimiento.html">
<link rel="lazy-import" href="my-view4-operaciones.html">
<link rel="lazy-import" href="my-view5-transferencia.html">
<link rel="lazy-import" href="my-view6-alta.html">
<link rel="lazy-import" href="my-view7-logout.html">
<link rel="lazy-import" href="my-view8-usuario.html">
<link rel="lazy-import" href="my-view9-contacto.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">

      <app-header-layout has-scrolling-region>
          <app-header slot="header" fixed condenses effects="waterfall">
          <app-toolbar>
          <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
          <div main-title><strong>BankaM</strong></div>
          <a hidden$="{{loggeddone}}" name="view1-login" href="[[rootPath]]view1-login">
          <paper-icon-button icon="my-icons:account-circle" style="color: white;"></paper-icon-button></a>
          <a hidden$="{{!loggeddone}}" name="view8-usuario" href="[[rootPath]]view8-usuario">
          <paper-icon-button icon="my-icons:account-box" style="color: white;"></paper-icon-button></a>
          <a hidden$="{{!loggeddone}}" name="view2-cuenta" href="[[rootPath]]view2-cuenta">
          <paper-icon-button icon="my-icons:euro-symbol" style="color: white;"></paper-icon-button></a>
          <a name="view9-contacto" href="[[rootPath]]view9-contacto">
          <paper-icon-button icon="my-icons:help" style="color: white;"></paper-icon-button></a>
          <a hidden$="{{!loggeddone}}" name="view7-logout" href="[[rootPath]]view7-logout">
          <paper-icon-button icon="my-icons:exit-to-app" style="color: white;"></paper-icon-button></a>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-bankam name="bankam"></my-bankam>
          <my-view1-login name="view1-login" on-eventologin="ircuenta"></my-view1-login>
          <my-view2-cuenta name="view2-cuenta" email ={{email}} idcliente={{idcliente}} nombre={{nombre}} apellido={{apellido}} iban={{iban}} balance={{balance}} on-eventomov="consultarMov" on-ingretmov="operacionMov" on-trfmov="transferMov"></my-view2-cuenta>
          <my-view3-movimiento name="view3-movimiento" idcliente={{idcliente}} nombre={{nombre}} apellido={{apellido}} iban={{iban}} balance={{balance}} idcuenta={{idcuenta}}></my-view3-movimiento>
          <my-view4-operaciones name="view4-operaciones"idcliente={{idcliente}} nombre={{nombre}} apellido={{apellido}} idcuenta={{idcuenta}} balance={{balance}} on-volvermov="nuevoMov"></my-view4-operaciones>
          <my-view5-transferencia name="view5-transferencia" idcliente={{idcliente}} nombre={{nombre}} apellido={{apellido}} idcuenta={{idcuenta}} balance={{balance}} on-volvermov="nuevoMov"></my-view5-transferencia>
          <my-view6-alta name="view6-alta"></my-view6-alta>
          <my-view7-logout name="view7-logout" idcliente={{idcliente}} idcuenta={{idcuenta}} nombre={{nombre}} apellido={{apellido}} email={{email}} password={{pasword}} on-eventologout="appLogout"></my-view7-logout>
          <my-view8-usuario name="view8-usuario" idcliente={{idcliente}}></my-view8-usuario>
          <my-view9-contacto name="view9-contacto"></my-view9-contacto>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          loggeddone:{
            type : Boolean,
            value : false
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'bankam';

        // Close a non-persistent drawer when the page & route are changed.
      // if (!this.$.drawer.persistent) {
      //  this.$.drawer.close();
      // }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      ircuenta(e){
        this.email= e.detail.email;
        this.nombre = e.detail.nombre;
        this.apellido = e.detail.apellido;
        this.idcliente = e.detail.idcliente;
        this.city = e.detail.city;
        this.loggeddone = true;
        this.page = "view2-cuenta";
      }
      consultarMov(e){
        this.iban = e.detail.iban
        this.idcuenta = e.detail.idcuenta
        this.balance = e.detail.balance
        this.page ="view3-movimiento"
      }
      operacionMov(e){
        this.idcuenta = e.detail.idcuenta
        this.balance = e.detail.balance
        this.page ="view4-operaciones"
      }
      transferMov(e){
        this.idcuenta = e.detail.idcuenta
        this.balance = e.detail.balance
        this.page ="view5-transferencia"
      }
      nuevoMov(e){
        this.balance = e.detail.idcliente
        this.page ="view2-cuenta"
      }
      appLogout(e){
        this.email = e.detail.email
        this.loggeddone = false
        this.page ="bankam"
      }
    }



    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
