<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-bankam">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      img.bg {
        position: fixed;
       top: 0;
       left: 0;
        width: 100%;
        height: auto;
        min-height: 100%;
        min-width: 1024px;
        z-index: -999;
      }
    </style>
    <img class="bg" src="https://s3-us-west-2.amazonaws.com/proyectomck/business_background_new.jpg" alt="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="container" >
      <div class="card text-white bg-primary mb-3" style="max-width: 30rem; margin-top:60px">
        <div class="card-body">
          <h1 class="card-title"><strong>BankaM</strong></h1>         
          <br>
          <p class="card-text">BankaM es una forma fácil de pagar con tu móvil. <br>Con ella puedes solicitar y enviar dinero a tus contactos o hacer una transferencia bancaria</p>
        </div>
      </div>
    </div>

  </template>

  <script>
    class MyBankam extends Polymer.Element {
      static get is() { return 'my-bankam'; }
      static get properties() {
        return {

        };
      }
    }

    window.customElements.define(MyBankam.is, MyBankam);
  </script>
</dom-module>
