<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-weather/paper-weather.html">

<dom-module id="my-view8-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <div class="d-flex justify-content-center align-items-center container ">
  <div class="row">
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
        <h6 class="card-title"><strong>Datos de Usuario</strong></h6>
        <br>
        <div>
        <img <img src="https://s3-us-west-2.amazonaws.com/proyectomck/myavatar.png" name="avatar" width="140" height="140"></a>
        </div>
        <br>
          <h4>Nombre: {{first_name}}</h4>
          <h4>Apellido: {{last_name}}</h4>
          <br>
          <h6>E-mail: {{email}}</h6>
          <h6>Pais: {{country}}</h6>
          <h6>Ciudad: {{city}}</h6>
          <h6>Teléfono Móvil: {{mobile}}</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h6 class="card-title"><strong>¿Como esta el tiempo hoy?</strong></h6>
        <paper-weather list unit="c" location="{{city}}"></paper-weather>
      </div>
    </div>
  </div>
</div>
</div>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://imagenusuario-bankam.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users/{{idcliente}}"
      handle-as="json"
      on-response="showData"/>

  </template>

  <script>
  class MyView8Usuario extends Polymer.Element {
    static get is() { return 'my-view8-usuario'; }
    static get properties() {
      return {
         id :{
          type: Number
        },
        first_name: {
          type: String
        }, last_name: {
          type: String
        }, email: {
          type: String
        },
          password: {
          type: String
        },
         country: {
        type: String
        },
         city :{
         type: String
        },
        mobile :{
        type: String
        }
      };
    }

    showData(data) {
      this.first_name = data.detail.response.first_name
      this.last_name = data.detail.response.last_name
      this.email = data.detail.response.email
      this.country = data.detail.response.country
      this.city = data.detail.response.city
      this.mobile =data.detail.response.mobile
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }
  }

    window.customElements.define(MyView8Usuario.is, MyView8Usuario);
  </script>
</dom-module>
