<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-view3-movimiento">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="card text-white bg-primary mb-3">
      <h2>Movimientos</h2>
      <p>Aqui puede ver movimientos de su cuenta</p>
      <div>
        <a class="btn btn-light" href="[[rootPath]]view2-cuenta">Volver a sus cuentas</a>
      </div>
    </div>


    <table class="table table-striped">
      <thead>
        <th>FECHA</th>
        <th>IMPORTE</th>
        <th>TIPO</th>
      </thead>
        <tbody>
          <template is="dom-repeat" items="{{movimientos}}">
            <tr>
              <td>{{item.fechamov}}</td>
              <td>{{item.importemov}} &euro;</td>
              <td>{{item.tipomov}}</td>
            </tr>
          </template>
    </tbody>
  </table>

   <iron-ajax
     method="GET"
     id="getMovimiento"
     url="http://imagenmovimiento-bankam.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/cuentas/movimientos/{{idcuenta}}"
     handle-as="json"
     on-response="showData"
     on-error="showError"/>
  </template>

  <script>
  class MyView3Movimiento extends Polymer.Element {
    static get is() { return 'my-view3-movimiento'; }
    static get properties() {
      return {
        idcuenta :{
          type: Number,
          observer:'_idcuentaChanged'
        },
        id: {
          type: Number
        },
        idmov :{
          type: Number
        },
        fechamov :{
          type: Date
        },
        importemov :{
          type: Number
        },
        tipomov :{
          type: String
        },
        movimientos :{
          type: Array
        },
        iban :{
          type: String
        },
        balance:{
          type: Number,
          observer:'_balanceChanged'
        }
      };
    }
    showData(data) {
      this.movimientos = data.detail.response;
    }
    _idcuentaChanged(newValue, oldValue){
      this.$.getMovimiento.idcuenta= this.idcuenta
      this.$.getMovimiento.generateRequest()
    }
   _balanceChanged(newValue, oldValue){
     this.$.getMovimiento.balance= this.balance
     this.$.getMovimiento.generateRequest()
   }
   showError(error){
     console.log("No existen movimientos de cuenta");
     console.log(error);
   }
 };

    window.customElements.define(MyView3Movimiento.is, MyView3Movimiento);
  </script>
</dom-module>
