<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/sweet-alert/sweet-alert.html">

<dom-module id="my-view4-operaciones">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="card text-white bg-primary mb-3">
      <h2>Operaciones</h2>
      <p>Solicitud y Envio de dinero de Movil a Movil</p>
    </div>
    <div class="container">
    <form>
      <fieldset>
      <div class="form-group row">
        <input type="hidden" value="{{idcuenta::input}}" class="form-control" id="idcuenta" placeholder="Cuenta" name="idcuenta">
      </div>
        <div class="form-group row">
          <label for="mobile" class="col-2 col-form-label">Móvil</label>
        <input type="mobile" value="{{mobile::input}}" class="form-control" id="mobile" placeholder="Movil" name="mobile">
        </div>
        <div class="form-group row">
          <label for="importemov" class="col-2 col-form-label">Importe</label>
          <input type="importemov" value="{{importemov::input}}" class="form-control" id="importemov" placeholder="Importe" name="importemov">
        </div>
        <div class="form-group row">
          <label for="tipomov">Tipo de operación (elige uno):</label>
          <select name="tipomov" value="{{tipomov::input}}" class="form-control">
            <option selected="true" disabled="disabled">Tipo de operación</option>
            <option value="ingreso">Solicitar</option>
            <option value="retiro">Enviar</option>
          </select>
   </div>
        <div class="row">
          <div>
            <a class="btn btn-success" on-click="realizar">Realizar</a>
            <a class="btn btn-primary" href="[[rootPath]]view2-cuenta" on-click ="volverCuenta">Volver a cuentas</a>
          </div>
       </div>
     </fieldset>
    </form>
  </div>
    <iron-ajax
      id="doMov"
      method="POST"
      url="http://imagenoperaciones-bankam.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/nuevomovimiento"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
  class Myview4Operaciones extends Polymer.Element {
    static get is() { return 'my-view4-operaciones'; }
    static get properties() {
      return {
        idcuenta :{
          type: Number
        },
        importemov:{
          type: Number
        },
        tipomov:{
          type: String
        },
        balance:{
        type: Number
        },
        mobile:{
          type: String
        }
      };
    }


    realizar(){
      var movData = {
        "idcuenta": this.idcuenta,
        "importemov": this.importemov,
        "tipomov": this.tipomov,
        "mobile" : this.mobile
      };

      this.$.doMov.body = movData;
      this.$.doMov.generateRequest();

      this.importemov = null;
      this.tipomov = null;
      this.mobile = null;
    }

    manageAJAXResponse(data){
      console.log("Respuesta recibida");
      swal(
          'Listo!',
          'Operacion realizada con exito!',
          'success'
        )
    }
    showError(error){
      console.log("Hubo un error");
      console.log(error);
      swal({
            type: 'error',
            title: 'Oops...',
            text: 'Por favor introduce el numero de movil correctamente!',
          })
    }
    volverCuenta(event){
      this.oprdone= false;
      this.dispatchEvent(new CustomEvent("volvermov",{"detail":{
       "idcliente":this.idcliente
      }}));
    }
  }

    window.customElements.define(Myview4Operaciones.is, Myview4Operaciones);
  </script>
</dom-module>
