<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="my-view7-logout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card text-center">
      <h2>¿Quieres cerrar session?</h2>
    </div>

    <div class="container">
      <form>
        <fieldset>
        <div class="form-group row">
          <input type="hidden" value="{{email::input}}" class="form-control" id="email" placeholder="Email" name="email">
        </div>
           <div class="d-flex justify-content-center">
             <div>
              <a class="btn btn-danger" on-click="logout">Salir</a>
              <a class="btn btn-info" href="[[rootPath]]view2-cuenta">Volver a sus cuentas</a>
            </div>
         </div>
     </fieldset>
   </form>
  </div>

    <iron-ajax
      id="doLogout"
      method="POST"
      url="http://imagenlogout-bankam.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
  class MyView7Logout extends Polymer.Element {
    static get is() { return 'my-view7-logout'; }
    static get properties() {
      return {
        id :{
          type: Number
        },
        email :{
          type: String
        },
        first_name: {
          type: String
        }, last_name: {
          type: String
        }, email: {
          type: String
        },
          password: {
          type: String
        }
      };
    }

    logout(){
      var logoutData = {
        "email": this.email
      };
      this.$.doLogout.body = JSON.stringify(logoutData);
      this.$.doLogout.generateRequest();
      console.log("Peticion enviada");
    }

    manageAJAXResponse(data){
      console.log("Respuesta recibida");
      this.dispatchEvent(new CustomEvent("eventologout",{"detail":{
        "email" :data.detail.response.email
      }}));
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }
  }

    window.customElements.define(MyView7Logout.is, MyView7Logout);
  </script>
</dom-module>
