<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/sweet-alert/sweet-alert.html">

<dom-module id="my-view5-transferencia">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="card text-white bg-primary mb-3">
      <h2>Transferencia</h2>
      <p>Aqui puede hacer una transferencia</p>
    </div>
    <div class="container">
    <form>
      <fieldset>
        <div class="form-group row">
          <input type="hidden" value="{{idcuenta::input}}" class="form-control" id="idcuenta" placeholder="Cuenta" name="idcuenta">
        </div>
        <div class="form-group row">
          <label for="iban" class="col-2 col-form-label">Cuenta de destino</label>
          <input type="iban" value="{{iban::input}}" class="form-control" id="iban" placeholder="Iban" name="iban">
        </div>
        <div class="form-group row">
          <label for="importemov" class="col-2 col-form-label">Importe</label>
          <input type="importemov" value="{{importemov::input}}" class="form-control" id="importemov" placeholder="Importe" name="importemov">
        </div>
        <div class="row">
          <div>
            <a class="btn btn-success" on-click="procesar">Realizar Transferencia</a>
            <a class="btn btn-primary" href="[[rootPath]]view2-cuenta" on-click ="volverCuenta">Volver a cuentas</a>
          </div>
       </div>
     </fieldset>
    </form>
  </div>

    <iron-ajax
      id="doTrf"
      method="POST"
      url="http://imagentransferencia-bankam.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/transferencia"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
  class Myview5Transferencia extends Polymer.Element {
    static get is() { return 'my-view5-transferencia'; }
    static get properties() {
      return {
        idcuenta :{
          type: Number
        },
        iban: {
          type: String
        },
        importemov: {
          type: Number
        }
      };
    }

    procesar(){
      var trfData = {
        "idcuenta": this.idcuenta,
        "iban": this.iban,
        "importemov": this.importemov
      };

      this.$.doTrf.body = trfData;
      this.$.doTrf.generateRequest();

      this.importemov = null;
      this.tipomov = null;
      this.iban =null;
    }

    manageAJAXResponse(data){
      console.log("Respuesta recibida");
      swal(
          'Listo!',
          'Transferencia realizada',
          'success'
        )
    }
    showError(error){
      console.log("Hubo un error");
      console.log(error);
      swal({
            type: 'error',
            title: 'IBAN no valido',
            text: 'Por favor introduce los datos correctamente!',
          })
    }

    volverCuenta(event){
      this.oprdone= false;
      this.dispatchEvent(new CustomEvent("volvermov",{"detail":{
        "idcliente":this.idcliente
      }}));
    }
  }

    window.customElements.define(Myview5Transferencia.is, Myview5Transferencia);
  </script>
</dom-module>
