<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-view9-contacto">
  <template>
    <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    google-map {
      height: 300px;
      width :40%;
      margin-left:auto;
      margin-right:auto;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card text-center">
      <div class="card-header">
        ¿Tienes alguna duda? Contáctanos!
      </div>
        <div class="card-body">
          <p class="card-text"><strong>BankaM</strong><br>Calle Azul, nº4, 28050, Madrid<br>E-mail:info@bankam.com<br>Atención al Cliente<br>900 100 100</p>
          <div>
            <google-map zoom=10 latitude=40.5 longitude=-3.7 api-key="AIzaSyBRE1sYMjm9WNCZzhKNGz_RiOUxbDj6cWg">
              <google-map-marker latitude=40.499608 longitude=-3.664122 title="BankaM"></google-map-marker>
            </google-map>
          </div>
        </div>
        <div class="card-footer text-muted">
          BankaM
        </div>
      </div>
  </template>

  <script>
    class MyView9Contacto extends Polymer.Element {
      static get is() { return 'my-view9-contacto'; }
      static get properties() {
        return {

        };
      }
    }

    window.customElements.define(MyView9Contacto.is, MyView9Contacto);
  </script>
</dom-module>
