<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="my-view2-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="card text-white bg-primary mb-3">
      <h2>Bienvenido {{nombre}}</h2>
      <p>Aqui puede ver sus cuentas</p>
    </div>
      <table class="table table-striped">
       <thead>
        <th>IBAN</th>
        <th>SALDO</th>
        <th></th>
      </thead>
      <tbody>
       <template is="dom-repeat" items="{{accounts}}">
         <tr>
         <td>{{item.iban}}</td>
         <td>{{item.balance}} &euro;</td>
         <td><a class ="btn btn-info" href="[[rootPath]]view3-movimiento" on-click="findMov" data-iban$="{{item.iban}}" data-idcuenta$="{{item.idcuenta}}" data-balance$="{{item.balance}}">Movimientos de cuenta</a></td>
         <td><a class ="btn btn-primary" href="[[rootPath]]view4-operaciones" on-click="altaMov" data-idcuenta$="{{item.idcuenta}}"data-balance$="{{item.balance}}" >Operaciones</a></td>
         <td><a class ="btn btn-primary" href="[[rootPath]]view5-transferencia" on-click="transfMov" data-idcuenta$="{{item.idcuenta}}" data-balance$="{{item.balance}}">Transferencia</a></td>
       </tr>
       </template>
     </tbody>
     </table>

    <iron-ajax
      id="getAccount"
      url="http://imagencuentas-bankam.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users/accounts/{{idcliente}}"
      method ="GET"
      handle-as="json"
      on-response="showData"
      on-error="showError"> </iron-ajax>
  </template>

  <script>
  class MyView2Cuenta extends Polymer.Element {
    static get is() { return 'my-view2-cuenta'; }
    static get properties() {
      return {
        iban :{
          type: String
        },
        id: {
          type: Number
        },
        balance :{
          type: Number,
          observer : '_balanceChanged'
        },
        idcuenta :{
          type: Number
        },
        accounts :{
          type: Array
        },
        idcliente: {
          type: Number,
          observer : '_idclienteChanged'
        }

      };
    }
    showData(data) {
      this.accounts = data.detail.response
    }
    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }
     _balanceChanged(newValue, oldValue){
      this.$.getAccount.balance= this.balance
      this.$.getAccount.generateRequest()
    }
      _idclienteChanged(newValue, oldValue){
       this.$.getAccount.idcliente= this.idcliente
       this.$.getAccount.generateRequest()
    }
    findMov(event){
      var detailiban = event.target.dataset.iban;
      var detailbalance = event.target.dataset.balance;
      var detailidcuenta = event.target.dataset.idcuenta;

      this.dispatchEvent(new CustomEvent("eventomov",{"detail":{
        "iban":detailiban,
        "balance":detailbalance,
        "idcuenta":detailidcuenta
      }}));
    }
    altaMov(event){
      var detailidcuenta = event.target.dataset.idcuenta
        var detailbalance = event.target.dataset.balance;

      this.dispatchEvent(new CustomEvent("ingretmov",{"detail":{
        "idcuenta":detailidcuenta,
        "balance":detailbalance
      }}));
    }
    transfMov(event){
      var detailidcuenta = event.target.dataset.idcuenta
        var detailbalance = event.target.dataset.balance;

      this.dispatchEvent(new CustomEvent("trfmov",{"detail":{
        "idcuenta":detailidcuenta,
        "balance":detailbalance
      }}));
    }
  }

  window.customElements.define(MyView2Cuenta.is, MyView2Cuenta);
  </script>
</dom-module>
