<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view6-alta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      img.bg {
        position: fixed;
       top: 0;
       left: 0;
        width: 100%;
        height: auto;
        min-height: 100%;
        min-width: 1024px;
        z-index: -999;
      }
    </style>
    <img class="bg" src="https://s3-us-west-2.amazonaws.com/proyectomck/background_clouds.jpg" alt="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="card text-white bg-primary mb-3">
      <h2>Alta Usuario</h2>
      <p>Registrate</p>
    </div>
    <div class="container">
      <form>
        <fieldset>
        <div class="form-group row">
          <label for="first_name" class="col-2 col-form-label">Nombre</label>
          <input type="first_name" value="{{first_name::input}}" class="form-control" id="first_name" placeholder="Nombre" name="first_name">
        </div>
        <div class="form-group row">
          <label for="last_name" class="col-2 col-form-label">Apellido</label>
          <input type="last_name" value="{{last_name::input}}" class="form-control" id="last_name" placeholder="Apellido" name="last_name">
        </div>
          <div class="form-group row">
            <label for="email" class="col-2 col-form-label">Email</label>
            <input type="email" value="{{email::input}}" class="form-control" id="email" placeholder="Email" name="email">
          </div>
          <div class="form-group row">
            <label for="dni" class="col-4 col-form-label">Documento de Identidad</label>
            <input type="dni" value="{{dni::input}}" class="form-control" id="dni" placeholder="Documento de Identidad" name="dni">
          </div>
          <div class="form-group row">
            <label for="country" class="col-2 col-form-label">Pais</label>
            <input type="country" value="{{country::input}}" class="form-control" id="country" placeholder="Pais" name="country">
          </div>
          <div class="form-group row">
            <label for="city" class="col-2 col-form-label">Ciudad</label>
            <input type="city" value="{{city::input}}" class="form-control" id="city" placeholder="Ciudad" name="city">
          </div>
          <div class="form-group row">
            <label for="mobile" class="col-2 col-form-label">Movil</label>
            <input type="mobile" value="{{mobile::input}}" class="form-control" id="mobile" placeholder="Movil" name="movil">
          </div>
          <div class="form-group row">
            <label for="password" class="col-2 col-form-label">Password</label>
            <input type="password" value="{{password::input}}" class="form-control" id="password" placeholder="Password" name="password">
          </div>
          <div class="row">
            <div>
              <a class="btn btn-primary" on-click="register">Registrar</a>
              <a class="btn btn-primary" href="[[rootPath]]view1-login">Volver</a>
            </div>
         </div>
     </fieldset>
   </form>
  </div>

    <iron-ajax
      id="doRegister"
      method="POST"
      url="http://imagennewuser-bankam.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/newuser"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
  class Myview6Alta extends Polymer.Element {
    static get is() { return 'my-view6-alta'; }
    static get properties() {
      return {
        id :{
          type: Number
        },
        first_name: {
          type: String
        },
        last_name: {
          type: String
        },
        email: {
          type: String
        },
        dni: {
          type: String
        },
        country: {
          type: String
        },
        city: {
          type: String
        },
        mobile: {
           type: String
        },
          password: {
          type: String
        }
      };
    }


    register(){
      var registerData = {
        "first_name": this.first_name,
        "last_name" : this.last_name,
        "email": this.email,
        "country": this.country,
        "city": this.city,
        "mobile": this.mobile,
        "password" : this.password,
        "dni" : this.dni
      };

      this.$.doRegister.body = JSON.stringify(registerData);
      this.$.doRegister.generateRequest();

      this.first_name = null;
      this.last_name = null;
      this.email = null;
      this.password = null;
      this.country = null;
      this.city = null;
      this.mobile = null;
      this.dni = null;
    }

    manageAJAXResponse(data){
      console.log("Respuesta recibida");
      swal(
          'Listo!',
          'Ya puede operar con su cuenta!',
          'success'
        )
    }

    showError(error){
      console.log("Error alta usuario");
      console.log(error);
      swal({
            type: 'error',
            title: 'Oops...',
            text: 'Este usuario ya existe!',
          })
    }
  }

    window.customElements.define(Myview6Alta.is, Myview6Alta);
  </script>
</dom-module>
