<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/sweet-alert/sweet-alert.html">


<dom-module id="my-view1-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      img.bg {
        position: fixed;
       top: 0;
       left: 0;
        width: 100%;
        height: auto;
        min-height: 100%;
        min-width: 1024px;
        z-index: -999;
      }
    </style>
    <img class="bg" src="https://s3-us-west-2.amazonaws.com/proyectomck/background_clouds.jpg" alt="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="container">
  	<div class="row" style="margin-top:80px">
          <div class="d-flex justify-content-center align-items-center container ">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Bienvenido a BankaM</h3>
                  </div>
                  <div class="panel-body">
                      <form role="form">
                          <fieldset>
                              <div class="form-group">
                                  <input type="email" value="{{email::input}}" class="form-control" id="email" placeholder="Email" name="email" autofocus>
                              </div>
                              <div class="form-group">
                                <input type="password" value="{{password::input}}" class="form-control" id="password" placeholder="Password" name="password">
                              </div>
                                <button type="button" class="btn btn-success btn-block" on-click="login">Login</button>
                                <br>
                              <p>¿Aun no tienes cuenta?<a href="[[rootPath]]view6-alta" class=""> Registrate</a></p>
                          </fieldset>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://imagenlogin-bankam.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
  class MyView1Login extends Polymer.Element {
    static get is() { return 'my-view1-login'; }
    static get properties() {
      return {
        id :{
          type: Number
        },
        first_name: {
          type: String
        }, last_name: {
          type: String
        }, email: {
          type: String
        },
          password: {
          type: String
        }
      };
    }

    login(){
      var loginData = {
        "email": this.email,
        "password": this.password
      };

      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      this.email = null;
      this.password =null;
    }

    manageAJAXResponse(data){
      console.log("Respuesta recibida");

      this.dispatchEvent(new CustomEvent("eventologin",{"detail":{
        "email" :data.detail.response.email,
        "nombre":data.detail.response.first_name,
        "apellido":data.detail.response.last_name,
        "idcliente":data.detail.response.id,
        "city":data.detail.response.city
      }}));
    }

    showError(error){
      console.log("Error login usuario");
      this.email =null;
      this.password =null;
      swal({
            type: 'error',
            title: 'Oops...',
            text: 'Error de usuario o contraseña!',
          })
    }
  }

    window.customElements.define(MyView1Login.is, MyView1Login);
  </script>
</dom-module>
